= form_for @remittance, :html => {:class => 'form-horizontal'} do |f|
  -if @remittance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@remittance.errors.count, "error")} prohibited this remittance from being saved:"
      %ul
        - @remittance.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label{:for => :recipient_email} To
    .controls
      -if @remittance.new_record?
        %input.input-xlarge#recipient_email
      -else
        = @remittance.recipient_email

  .control-group
    %label.control-label{:for => :amount} Amount
    .controls
      %input.input-xlarge#amount

  .control-group
    %label.control-label{:for => :provider} Provider
    .controls
      %input.input-xlarge#provider

  .control-group
    %label.control-label{:for => :message} Message
    .controls
      %textarea.input-xlarge#message

  .form-actions
    %button.btn.btn-primary{:type => :submit} Save Remittance

/   .field
/     Intended uses

/     = multiple_intended_use_form_section @remittance.intended_uses

