= form_for @remittance, :html => {:class => 'form-horizontal'} do |f|
  -if @remittance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@remittance.errors.count, "error")} prohibited this remittance from being saved:"
      %ul
        - @remittance.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :recipient_email, 'To', :class => 'control-label'
    .controls
      -if @remittance.new_record?
        -if @receivers.any?
          = select_tag "recipient_from_select", options_from_collection_for_select(@receivers, "id", "email"), :prompt => "New Recipient"
        = text_field_tag "recipient_from_input", "", :class => 'input-xlarge', :placeholder => 'friend@gmail.com'
      -else
        = @remittance.recipient_email

  .control-group
    = f.label :amount, 'Amount', :class => 'control-label'
    .controls
      = f.text_field :amount, :class => 'input-xlarge', :placeholder => '100.00'

  .control-group
    = f.label :provider, 'Provider', :class => 'control-label'
    .controls
      = f.text_field :provider, :class => 'input-xlarge', :placeholder => 'Western Union'

  .control-group
    = f.label :message, 'Message', :class => 'control-label'
    .controls
      = f.text_area :message, :class => 'input-xlarge', :rows => 5, :columns => 20, :placeholder => 'Additional comment about remittance'

  .control-group
    = f.label :date, 'Date', :class => 'control-label'
    .controls
      = f.date_select :date

  .form-actions
    = f.submit 'Save Remittance', :class => ['btn','btn-primary']

  /   .field
  /     Intended uses

  /     = multiple_intended_use_form_section @remittance.intended_uses

