%h1 Listing remittances

%table
  %tr
    %th User
    %th Recipient
    %th Amount
    %th Provider
    %th Message
    %th Date
    %th
    %th
    %th

  - @remittances.each do |remittance|
    %tr
      %td= remittance.user.email
      %td #{remittance.recipient_email} #{remittance.recipient ? "" : "(not a user yet)"}
      %td= remittance.amount
      %td= remittance.provider
      %td= remittance.message
      %td= remittance.date
      %td= link_to 'Show', remittance
      %td= link_to 'Edit', edit_remittance_path(remittance)
      %td= link_to 'Destroy', remittance, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Remittance', new_remittance_path

.row
  %h1.span6 My Remittances
  %h1.span6 How were they spent?
- @remittance_months.keys.sort.each do |month|
  .row
    %h2.span12= month.strftime("%B %Y")
  .row
    .span6
      - @remittance_months[month].each do |remittance|
        .row
          .span6
            =remittance.amount
            to
            =remittance.recipient.email
            %ul
              %li
                This would be a great place for an intended use
    .span6
      Spent details for the month
