%p#notice= notice

%p
  %b User:
  = @remittance.user.email
%p
  %b Recipient:
  = @remittance.recipient_email
%p
  %b Amount:
  = @remittance.amount
%p
  %b Provider:
  = @remittance.provider
%p
  %b Message:
  = @remittance.message
%p
  %b Date:
  = @remittance.date

%h3 Intended Uses

- @remittance.intended_uses.each do |use|
  %p #{use.use}: #{use.money_amount}

= link_to 'Edit', edit_remittance_path(@remittance)
\|
= link_to 'Back', remittances_path
